/*Style.css*/
* {
	box-sizing: border-box;
}

/*
 * Add the correct display in IE 10+, not Firefox.
 */
.main-header-logo { 
  position: absolute;
  left: 44%; 
}

body {
	margin: 0 auto;
	width: 1200px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 28px -10px #000000;
	position: relative;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden  {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1;
	height: 1;
	margin: -1;
	border: 0;
	padding: 0;
	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.filter { /* Стили общего блока фильтров + фоновое изображение*/
	padding-top: 26px;
	padding-right: 73px;
	padding-bottom: 0;
	padding-left: 70px;

	min-height: 217px;

	color: #000000;
	background-color: #698cb2;
	background-image: url("../img/filter-background.jpg");
	
	background-position: top center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: space-between;
}

.filter legend {
	margin-bottom: 25px;
}

.filter fieldset {
	padding: 0;
	color: #ffffff;
	border: none;
}

.filter ul {
	list-style: none;
	line-height: 21px;
	padding: 0;
	margin: 0;

	width: 155px;
}

.filter-option {
	margin-bottom: 25px;
	padding-left: 40px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;	
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;

  top: 0;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-input:hover label,
.filter-input:focus label {
  color: #ffffff;
}

.filter-input-checkbox:disabled + .disabled::before {
	opacity: 0.3;
}

.filter-input-checkbox:disabled + .disabled {
	opacity: 0.3;
}

/* Кнопка фильтра на странице каталога */
.filter-button[type="submit"] {
	font-weight: normal;

	color: #ffffff;
  border: 2px solid white;
  border-radius: 2px;

  width: 141px;
	height: 40px;

	text-align: center;
	vertical-align: middle;

	background: transparent;
	text-transform: uppercase;
}

.filter-button[type="submit"]:hover,
.filter-button[type="submit"]:active {
	color: #000000;
	background-color: #ffffff;
}

legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;

	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
}

.type-home {
	margin-right: 232px;
}

/*Стили кнопок*/
.button {
	font: inherit;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	width: 458px;
	height: 58px;
	background-color: #81b3d2;
	border: none;
}

.button:hover,
.left:hover {
	background-color: #669ec0;

}
.button:active,
.left:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}

.wrapper {
	position: relative;
	z-index: 4;
}

.appointment-button {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;

	color: #ffffff;
	text-transform: uppercase;

	width: 568px;
	height: 86px;
	/*margin-top: 41px;*/
	margin-bottom: 0;

	height: 86px;
	padding: 30px 140px;

	background-color: #766357;
	border: none;
	z-index: 5;
}

/*Кнопка поиск гостиницы в седоне*/
.appointment-button:hover,
.right:hover {
	background-color: #604e43;
}
.appointment-button:active,
.right:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
}

/*Фоновое изображение на странице каталога*/
.filter img {
	text-align: center;
	background-image: url("../img/catalog-bg.jpg");
	background-position: top center;
}

/*Обложка главной страницы*/

.main-cover {
	position: relative;
}

.main-cover img {
	background-image: url("../img/index-bg2.jpg");
	width: 100%;
	height: 507px;
	background-repeat: no-repeat;
	margin-bottom: 54px;
}

.main-cover::before {
	content: "";
	display: block;
	height: 354px;
	width: 460px;
	left: 370px;
	top: 76px;
	background-image: url(../img/intro-welcome.svg);
	background-repeat: no-repeat;
	position: absolute;
	}

.main-cover::after {
	content: "";
	display: block;
	width: 100%;
	height: 60px;

	background-image: url(../img/polygon.svg);
	background-repeat: no-repeat;

	position: absolute;
	bottom: 58px;
}

.main-header {	
	min-height: 56px;
	margin:0 auto;
	padding:0 auto;
	background-color: #fff;
}

.main-header-logo{
	position: absolute;
	z-index: 1;
	top: 0;
}

/*Стили навигации*/
.main-navigation {
	position: relative;

	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;	
	text-decoration: none;

	min-height: 56px;
	padding: 15px 72px;

	color: #000000;
	background-color: #ffffff;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.site-navigation {
	margin:0;
	padding:0;
	color: #000000;
	list-style: none;
	display: flex;
}

.left-navigation {
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.right-navigation {
	text-align: right;
	display: flex;
	justify-content: space-between;
}

.info-navigation {
 text-align: left;
 margin-right: 147px;
}

.photos-navigation {
	margin-right: 198px;
}

.map-navigation {
	margin-left: 192px;
}

.hostel-navigation {
	margin-left: 163px;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
	list-style: none;
}

.site-navigation-current a {
	color: #766357;
}

.container {
	margin: 0 auto;
	background-color: #fff;
}

.sort {
	padding: 29px 73px;
	display: flex;
	align-items: flex-end;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: space-between;
}

.sort-item{
	font-size: 12px;
	line-height: 18px;
	width: 240px;

	display: flex;
	justify-content: space-between;

	margin: 0 auto;
	margin-right: 505px;
	margin-left: 40px;
}

.sort h2 {
	margin-right: 46px;
	margin-top: 0;
	margin-bottom: 3px;
}

.sort p {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 2px;	
}

.sort-item-link {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item-link:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item-link:active {
	color: #000000;
	border-bottom: none; 
}

.active-sort-item {
	color: #81b3d2;
	border: none;
}

.sort-up-down {
	text-align: right;
}

.sort-up,
.sort-down {
	fill: #cacaca;
}

.sort-up:visited,
.sort-down:visited, {
	fill: 
}

.sort-up:hover,
.sort-down:hover, {
	fill: #231f20;
}

.sort-up:active,
.sort-down:active, {
	fill: #81b3d2;
}

.sort-up {
	margin-right: 5px;
}

.sort-item h3 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}

.sort-item p {
	text-align: left;
	margin-bottom: 0;
}

.sort-up:hover path,
.sort-down:hover path {
	fill: #231f20;
}

.sort-up:active path,
.sort-down:active path {
	fill: #81b3d2;
}

.active-sort path {
	fill: #81b3d2;
}

.catalog-list li {
	list-style: none;
}

.catalog-list {
	margin: 0 auto;
}

.catalog-item h3 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}

.catalog-item h3:hover {
	color: #81b3d2;
}

.catalog-item h3:active {
	color: rgba(0,0,0,0.3);
}

.catalog-list p,a{
	text-align: left;
} 

/*Стили ползунка по подбору гостиниц по цене*/

.filter-range {
  width: 318px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
	position: relative;

  height: 36px;
  padding-top: 7px;
  margin-bottom: 22px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls label:focus,
.price-controls label:hover {
	color: 000000;
	height: 36px;
}

.price-controls .min-price,
.price-controls .max-price {
  padding-left: 65px;
}

.max-price {
  padding-left: 65px;
}

.min-price {
	padding-right: 12px;
}
.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
	position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.8);
  
  transition: transform .1s;
  cursor: pointer;
}

.range-toggle:hover {
	transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 85px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/*Стили карточек отелей*/
.content {
	background-color: white;
	width: 1200px;
	margin: 0 auto;
	box-shadow:0 0 15px 0 rgba(146,146,146,1);
}

.catalog-list {
	padding: 0;
	list-style-type: none;
}

.catalog-item {
	padding: 30px 75px;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: space-between;
}

.work {
	background-color: white;
	display: flex;
	padding: 30px 72px;
	padding-top: 25px;
	display: flex;
}

.picture {
	display: flex;
	max-width: 135px;
	max-height: 90px;
	position: relative;
	margin-top: 5px;
}

.info-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.text-container {
	display: flex;
	margin-bottom: 12px;
}

.info-caption {
	margin: 0;
	margin-bottom: 6px;
}

.info-text,
.info-price {
	margin: 0;
	margin-bottom: 12px;
}

.info-link {
	font: inherit;
	text-align: center;

	padding: 2px 17px;
	padding-bottom: 1px;
	font-weight: bold;
	color: #fff;
	border: none;

	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
}

.info-about {
	display: flex;
}

.about {
	margin-right: 520px;
}

.left {
	background-color: #81b3d2;
	margin-right: 6px;
}

.right {
	background-color: #766357;
}

.rating {
	padding: 1px 14px;
	margin: 0;
	margin-top: 39px;

	color: #666666;
	background-color: #f2f2f2;
}

.star {
	text-align: right;
	margin-top: 5px;

	display: block;
	flex-direction: column;
	justify-content: space-between;
}

/*Стили преимуществ*/

.features h2{
	margin-top: 0;
}

.features {
	text-align: center;
}
.feature {
	width: 400px;
	box-sizing: border-box;
}

.features-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.feature-item-select {
	text-align: center;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	background-color: #81b3d2;
}

.feature-item-select h3 {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
}

.feature-item {
	width: 400px;
	text-align: center;
	padding: 16px 47px 42px 47px;
	flex-direction: column;
	align-items: center;
}

.wrap {
	display: flex;
	list-style: none;
	margin-left: 0; 
	padding-left: 0;
	margin: 0 auto;
	margin-bottom: 50px;
}

.item-wrapper {
	width: 400px;
	padding: 16px 60px 42px 60px;
	flex-direction: column;
	background-color: #eeeeee;
}

.features-title {
	margin: 0px;
}

.features-title h2 {
	line-height: 26px;
	padding: 370px;
	padding-top: 0;
	padding-bottom: 30px;

	margin: 0 auto;
	margin-bottom: 0px;
}

.features-title p {
	margin: 0;
	margin-bottom: 50px;
}

.feature-item h3{
	font-size: 21px;
	line-height: 21px;
	padding: 30px 70px 0 70px;
	margin: 0 auto;
	margin-bottom: 11px;
}

.more-advanture {
	text-align: center;
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-top: 42px;
	margin-bottom: 24px;
}

ul.more-advanture {
	margin-left: 0; 
	padding-left: 0;
}

.more-advanture h3 {
	padding-top: 23px;
	margin-bottom: 22px;
}

.description p {
	display: block;
	margin-top: 19px; 
	margin-bottom: 0 auto; 
}

.number {
	margin-bottom: 2px;
	margin-top: 24px;
}

.appointment h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;

	padding: 0;
	margin-top: 0;
	margin-bottom: 26px;
}

.appointment {
	text-align: center;
}

.appointment-info {
	margin: 0 auto;
	margin-bottom: 75px;
}

/*Стили форм Модального окна*/
.pop-up {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 568px;
	padding: 55px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0px 1px 35px -13px #000000;
	position: absolute;
	left: 316px;
	top: 56px;
}

/*Стили полей формы*/
.form {
	font-weight: bold;

}

.appointment-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/*Стили текстовых полей для формы на главной странице*/

.appointment-item input[type="text"],
.quantity input[type="text"] {
	background-color: #f2f2f2;
	font-weight: bold;
	text-transform: uppercase;
	height: 38px;
	padding-left: 13px; 
	border: none;	

	position: relative;
}

.appointment-item input[type="text"] {
	width: 308px;
}


.appointment-item input[type="text"]:hover,
.quantity input[type="text"]:hover {
	background-color: #ebebeb;
}

.appointment-item input[type="text"]:focus,
.quantity input[type="text"]:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.appointment-item label {
	width: 112px;
	text-align: left;
}

.quantity input[type="text"] {
	width: 38px;
}

.appointment-item {
	margin-top: 0;
	margin-bottom: 29px;
}

.quantity {
	display: flex;
	/*justify-content: space-between;*/

	width: 458px;
	margin-bottom: 55px;
	align-items: center;
}

.quantity p {
	margin:0;
}

.children {
	margin-left: 35px;
}

.children-group,
.adults-group {
	display: flex;
}

.adults {
	display: flex;
}

.adults p {
	width: 114px;
	margin: 40px;
}

.adults-group {
	margin-right: 55px;
	margin-left: 40px;
}

.children-label {
	margin-right: 25px;
}

.btn-calendar {
	height: 38px;
	width: 38px;
	background-color: #f2f2f2;

	align-self: center;
	justify-content: center;
	fill: #cacaca;
	border: none;
}

.btn-calendar:hover {
	fill: #000000;
}

.btn-calendar:active {
	fill: #81b3d2;;
}

/*Кнопки формы увеличения и уменьшения гостей + эффекты*/
.number-less,
.number-more {
	height: 38px;
	width: 38px;
	font-size: 20px;

	font-weight: bold;
	color: #a9a9a9;
	background-color: #f2f2f2;
	border: none;	
}

.number-less:hover,
.number-more:hover {
	color: #000000;
}

.number-less:active,
.number-more:active {
	color: #81b3d2;
}

/*Стили карты*/
.modal-map {
	text-align: center;
	margin-top: 28px;
}
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: ;
}

/*Стили футера*/

.main-footer {
	width: inherit;
	height: 120px;
	padding-top: 36px;
	padding-right: 101px;
	padding-bottom: 36px;
	padding-left: 130px;

	background-color: #ffffff;
	opacity: 0.9;
	display: flex; 
	justify-content: space-between;
}

.index-footer {
	z-index: 6;
	position: absolute;
	bottom: 0;
}

.hashtag-town {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	padding-right: 255px;
	margin-top: 10px;
}

.footer-social {
	width: 151px;
	text-align: center;
}

.footer-social ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.social-button {
	width: 46px;
	height: 48px;	

	display: flex;
	align-items: center;
  justify-content: center;

	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	opacity: 0.3;
}

.footer-copyright {
	width: 200px;
	margin: 0 auto;
	margin-top: 9px;
	margin-right: 0;

	text-align: center;

	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.footer-copyright p {
	margin-top: 6px;
}

.logo-htmlacademy:hover path {
	fill: #81b3d2;
}

.logo-htmlacademy:active path {
	fill: #bdbbbc;
}